<% hide_status = defined? show_status && !show_status %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Media Type</th>
			<% unless hide_status %>
  			<th>Status</th>
			<% end %>
		</tr>
	</thead>
	
	<tbody>
  <% for submission in submissions %>
    <tr class="<%= submission.media_type %>">
			<td><%= link_to h(submission.title), cm_admin_submission_path(submission) %></td>
			<td><%= link_to h(submission.name), cm_admin_submission_path(submission) %></td>
			<td><span class="<%= submission.media_color %>">&bull;</span> <%= submission.media_type %></td>
			<% unless hide_status %>
  			<td><%= 'unapproved' unless submission.approved? %> <%= 'featured' if submission.featured? %></td>
  		<% end %>
		</tr>
  <% end %>
	</tbody>
</table>