<%= title h(@submission.title) %>
<%= link_to 'Edit', edit_cm_admin_submission_path(@submission) %>

<% div_for @submission do %>

	<% semantic_form_for @submission, :url => cm_admin_submission_path(@submission) do |f| %>
	  <% f.inputs do %>
	    <%= f.input :approved, :as => :hidden, :input_html => { :value => (!@submission.approved?).to_s } %>
	  <% end %>

	  <% f.buttons do %>
	    <%= f.commit_button(@submission.approved? ? :unapprove : :approve) %>
	  <% end %>
	<% end %>


	<div class="media">
		<%= media_for @submission, :large %>
	</div>

  <p><%=h @submission.name %></p>
	<p><%=h @submission.address %></p>
	<p><%=h @submission.text %></p>
<% end %>