<div class="masthead">
  <%= title "Get involved and help bring Google Fiber to Bellingham." %>
  <div class="tagline">All you need is a few minutes, a printer, and a digital camera.</div>
</div>
<div class="left">
  <h2>Step 1</h2>
  <p>Download our handy-dandy <%= link_to "PDF", "#" %> and print it out on any printer.</p>
  
  <h2>Step 2</h2>
  <p>Take a picture of you, your friends, or your dog holding the sign in front of your favorite Bellingham landmark or establishment. We'd particularly love to get photos with municipal landmarks (like schools), prominent local businesses, and all those beautifully quirky places that make this such a great place to live.</p>
  <p>Got a video camera? Do a video version, upload it to <a href="http://youtube.com">YouTube</a>, and submit it!</p>
  
  <h2>Step 3</h2>
  <p>Use the form at the right to tell is a tiny bit about yourself, upload your photo or video, and give us a brief description if you'd like. From there, our trained oompa loompas will lovingly place your submission on an interactive map for the perusing pleasure of our favorite search behemoth.</p>
</div>
<div class="right">
  <h2>Submit An Entry</h2>
<% semantic_form_for @submission, :html => { :multipart => true } do |f| %>
  <% f.inputs :title => :you do %>
    <%= f.input :name %>
    <%= f.input :email %>
  <% end %>
  


  <fieldset>
    <legend><%=t :'formtastic.titles.location' %></legend>
  	<ul class="candybar">
  		<li class="first"><a href="#" class="address">Address</a></li>
  		<li class="last"><a href="#" class="latlng">Lat/Long</a></li>
  	</ul>

    <% f.inputs :id => 'location_latlng' do %>
      <%= f.input :lat, :required => true %>
      <%= f.input :lng, :required => true %>
    <% end %>
  
    <% f.inputs :id => 'location_address' do %>
      <%= f.input :address, :required => true %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend><%=t :'formtastic.titles.media' %></legend>

  	<ul class="candybar">
  		<li class="first"><a href="#" class="photo">Photo</a></li>
  		<li><a href="#" class="video">Video</a></li>
  		<li class="last"><a href="#" class="none">None</a></li>
  	</ul>
  
    <% f.inputs :id => 'media_photo' do %>
      <%= f.input :photo %>
    <% end %>
  
    <% f.inputs :id => 'media_video' do %>
      <%= f.input :video_url %>
    <% end %>

  	<div id="media_none">&nbsp;</div>
  </fieldset>
  
  <% f.inputs :title => :text do %>
    <%= f.input :text %>
  <% end %>
    
  <%= f.buttons :commit %>
<% end %>
</div>