
<% map_javascripts @map %>

<div id="left"></div>

<%= @map.div %>

<div id="right">
  <div id="featured_submission">
    <span class="media"><%= media_for @featured_submission, :thumb %></span>
    <%= @featured_submission.name %>
  </div>
  
	<ul id="submissions">
		<% for submission in @submissions %>
		  <li><%= media_for submission %> <%= link_to_function submission.name, '' %></li>
		<% end %>
	</ul>
</div>


