
<%
  js_var :submissions, @submissions.each_with_object({}){|s,h|
    h[s.id] = {
      :name => s.name,
      :info_window_path => info_window_submission_path(s),
      :lat => s.lat,
      :lng => s.lng,
      :media_type => s.media_type,
      :media_color => s.media_color,
    }
  }
%>


<div id="the_story" class="<%= 'js-hide' if @goldi_has_spoken %>">
  <div>
    Goldilocks traveled to the big city, 
    but it was too big. Then she traveled to a small town, but it was too small. Then she came to Bellingham &hellip;
    and it was just right.
    
    <%= content_tag :span, 'close', :class => 'close' %>
  </div>
</div>

<%= @map.div %>

<div id="right">
  <ul id="featured_submission_container">
	  <% if @featured_submission then %>
  	  <% js_var :featured_submission_id, @featured_submission.id %>
  	  <li id="featured_submission">
  	    <%= media_for @featured_submission, :thumb %><br />
  	    <h4><%= @featured_submission.title %></h4>
        <div class="person" style="background-image: url(<%= @featured_submission.gravatar_url(:size => 16) %>)"><%= @featured_submission.name %></div>
  	  </li>
  	<% end %>
	</ul>
	<ul id="submissions">
		<% for submission in @submissions %> <%# .all(:limit => 5) %>
      <% content_tag_for :li, submission do %>
	      <%= submission.title %> <span><%= submission.name %></span>
      <% end %>
		<% end %>
	</ul>
	<div class="buttons">
	  <%= link_to t(:lucky), '#', :class => "button", :id => 'feeling_lucky' %>
	  <%= link_to "Add Yours", new_submission_path, :class => "button" %>
	</div>
</div>


