
<%# map_javascripts @map %>

<%
  js_var :submissions, @submissions.each_with_object({}){|s,h|
    h[s.id] = {
      :name => s.name,
      :info_window_path => info_window_submission_path(s),
      :lat => s.lat,
      :lng => s.lng,
      :media_type => s.media_type,
      :media_color => s.media_color,
    }
  }
%>


<%= @map.div %>

<div id="right">
	<% if @featured_submission %>
	  <div id="featured_submission">
	    <span class="media"><%= media_for @featured_submission, :thumb %></span>
	    <%= @featured_submission.title %>
	    <%= @featured_submission.name %>
	  </div>
	<% end %>
  
	<ul id="submissions">
		<% for submission in @submissions %>
		  <% content_tag_for :li, submission do %>
		    <%= icon_for submission %>
  		  <%= submission.title %>
  		<% end %>
		<% end %>
	</ul>
	<div id="feeling_lucky"><%= link_to t(:lucky), '#' %></div>
</div>


