<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= render_title %></title>
	<meta name="Description" content="<%= yield :description -%>" />
	<meta name="Keywords" content="<%= yield :keywords -%>" />

	<%= render 'layouts/unobtrusive_hack' %>
	<%= stylesheet_link_tag '/fonts/fonts.css', 'application' %>

	<!--[if IE 6]>
	<%= stylesheet_link_tag 'ie' %>
	<![endif]-->
	
	<%= yield :head %>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />
</head>
<body class="<%= body_class %> map">

	<div id="header">
		<div class="container">
			<h1><%= link_to t(:'site_name'), root_path %></h1>
		</div>
	</div>
	
	<%= yield %>

	<div id="left_mountain"></div>
	<div id="goldi"></div>
	<div id="footer">
    <!-- <a href="#" id="black_rock">Black Rock City</a> | -->
	    <%= link_to "<strong>Submit Your Photo or Video</strong>", new_submission_path %> |
	    <a href="http://www.googlefibertobellingham.com/">Bring Google Fiber to Bellingham</a> | 
	    Made by <a href="http://carnesmedia.com">Carnes Media</a> | 
	    <a href="http://github.com/amiel/bellinghamatlas">Source Code</a>
	</div>
	

  <% content_for :javascript do %>	
  	<%= sprockets_include_tag 'application' %>
  	
    <!-- konami code -->
  	<%= sprockets_include_tag 'sea_monster' %>
  	
    <% if @map then %>
      <%# we don't want anymore help from YM4r anymore, go away! %>
      <% host = Ym4r::GmPlugin::ApiKey::GMAPS_API_KEY.has_key?(request.host_with_port) ? request.host_with_port : 'bellinghamatlas.com' %>
      <%= GMap.header(:host => host, :without_js => true) %>
      <%#= @map.to_html %>
    <% end %>
  <% end %>
  
	<%= render 'layouts/javascript' %>
  
	<%= render 'layouts/analytics' %>
</body>
</html>
